//====================================================================================================
.header {

	// .header__inner

	&__inner {}

	&__container {
		position: relative;
	}

	// .header__top

	&__top {
		// ? ​Перемістити через ордер його в самий правий край, для родітеля дати флекс врап і тоді для родітеля бекграунд дати градієнт, шоб верх чорний був а низ білий
		background-color: #2a2a2a;
		padding: 22px 0;
		color: #fff;
		margin-bottom: rem(20);
		@media (max-width:$mobile){
			 margin-bottom: rem(10); 
		}
		.header__search {
			@media (max-width:$mobile) {
				display: none;
			}
		}
	}

	&__logo {
		margin-right: 45px;
		@media (max-width:$mobile){
			 margin-right: auto; 
		}
	}

	&__search {
		margin-right: 85px;

		@media (max-width:$mobile) {
			order: 6;
			width: 100%;
			margin: 0px 0px 0px 0px;
		}
		max-width: 475px;
		width: 100%;
		&:nth-child(2) {
			display: none;
			@media (max-width:$mobile) {
				display: block;
				max-width: 100%;
			}
		}
	}

	// .header__call

	&__call {
		min-width: 218px;
		margin-right: 60px;

		@media (max-width:$mobile) {
			display: none;
		}

		@include adaptiveValue("margin-right", 60, 20, 1600, 768, 1);

		&:hover {
			path {
				fill: $orange;
				transition: fill 0.3s ease 0s;
			}

			span {
				color: $orange;
				transition: color 0.3s ease 0s;
			}
		}

		a {
			display: flex;
			align-items: center;
			gap: 8px;
		}

		span {
			font-weight: 700;
			font-size: rem(20);
		}
	}

	// .header__panel

	&__panel {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	// .header__user

	&__user {
		@media (max-width:$mobile){
			 max-width: 20px; 
			 svg {
				 width: 100%;
			 }
		}
		path {
			transition: fill 0.3s ease 0s;
		}
		&:hover {
			path {
				fill: $orange;
			}
		}
	}

	// .header__basket

	&__basket {
		position: relative;
		@media (max-width:$mobile){
			max-width: 20px; 
			svg {
				width: 100%;
			}
	   }
		&:hover {
			path {
				fill: $orange;
				transition: all 0.3s ease 0s;
			}

			.basket-header__amount {
				background-color: #fff;
				transition: all 0.3s ease 0s;
				color: $orange;
			}
		}
	}
	&__catalog {
		display: flex;
		align-items: center;
		margin-right: 80px;
		background-color: #fff;
		@include adaptiveValue("margin-right", 80, 10, 1600, 768, 1);
		@include adaptiveValue("font-size", 16, 14, 1600, 768, 1);
	
	}

		// .header__categories

		&__categories {
			display: none;
			position: absolute;
			top: 25px;
			padding-top: 20px;
			width: 100%;
			&_active {
				display: block;
			}
		}
	
		// .header__categorie
		
		&__categorie {
			display: flex;
			&-name {
					max-width: 255px;
					width: 100%;
					display: flex;
					align-items: center;
					align-self: flex-start;
					gap: 10px;
					padding: 16px 12px 16px 30px;
					
					&_top {
						border-top: 2px solid rgba($color: #2a2a2a, $alpha: .25);
						padding-top: 20px;
					}
					&::after{
						content:'';
						display: block;
						width: 8px;
						height: 8px;
						border-top: 2px solid #C8C5C3;
						border-right: 2px solid #C8C5C3;
						transform: rotate(45deg);
						margin-left: auto;
					}
					&:hover {
						background-color: $orange;
						color: #2a2a2a;
						&::after{
							border-color: #2a2a2a;							
						}
					}	
					transition: background-color 0.3s ease 0s, color .3s ease 0s;
			}

			&:hover {
				.header__subcategories {
					display: block;
				}
			}
		}
	
		// .header__subcategories
	
		&__subcategories {
			display: none;
			position: absolute;
			left: 255px;
			width: 100%;
			border-left: 2px solid rgba($color: #2a2a2a, $alpha: .25);
			padding-left: 20px;
			height: 100%;
			
		}
		&__bottom {
			position: relative;
		}
}

.header-top {

	// .header-top__inner

	&__inner {
		display: flex;
		align-items: center;
		@media (max-width:$mobile) {
			flex-wrap: wrap;
		}
	}
}

.basket-header {
	&__amount {
		position: absolute;
		top: -5px;
		right: -5px;
		background-color: $orange;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 4px;
		min-width: 20px;
		border-radius: 50%;
		font-weight: 700;
		font-size: rem(14);
		@media (max-width:$mobile){
			 padding: 2px;
			 font-size: rem(10);
			 min-width: 15px;
			 top: 0; 
		}
		span {
			max-width: 18px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			@media (max-width:$mobile){
				 max-width: 12px; 
			}
		}
	}
}

.menu {
	position: relative;
	display: flex;
	align-items: center;
	gap: 14px;
	justify-content: space-between;
	@media (max-width:$mobile){
		 position: fixed;
		 left: -500%; 
	}
	// .menu__icon

	&__icon {
	}

	// .menu__body

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 65px;
		@include adaptiveValue("gap", 65, 20, 1600, 768, 1);
	}

	// .menu__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 70px;
		@include adaptiveValue("gap", 70, 20, 1600, 768, 1);
	}

	// .menu__link

	&__link {
		font-weight: 700;
		transition: color 0.3s ease 0s;
		@include adaptiveValue("font-size", 16, 14, 1600, 768, 1);
		&:hover {
			color: $orange;
		}
	}

	// .menu__socials

	&__socials {
		display: flex;
		align-items: center;
		gap: 11px;
		svg {
			transition: transform 0.3s ease 0s;
			path {
				transition: fill 0.3s ease 0s, stroke .3s ease 0s;
			}
			&:hover {
				transform: scale(1.1);
				path {
					fill: #2a2a2a;
				}
				rect {
					stroke: #2a2a2a;
				}
			}
		}
	}
}


.header-subcategories {
	padding-left: 30px;
	position: absolute;
	background-color: #fff;
	top: -30px;
	max-width: 855px;
	// .header-subcategories__title

	&__title {
		font-size: rem(20);
		font-weight: 700;
		margin-bottom: rem(30);
	}

	// .header-subcategories__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 20px 60px;
		justify-content: space-between;
	}

	// .header-subcategories__item

	&__item {
		display: block;
		flex-basis: 28%;
		.menu__link::after {
			display: none !important;
		}
		.menu__link {
			padding: 0 !important;
			&:hover {
				background-color: transparent !important;
				color: $orange !important;
			}
		}
	}
	// .header-subcategories__amount

	&__amount {
	}
}

//====================================================================================================

//Burger

.icon-menu, .catalog-burger {
	display: none;
	&_desktop {
		display: block;
		position: relative;
		width: rem(18);
		height: rem(15.75);
		cursor: pointer;
		z-index: 5;
		margin-right: 15px;

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2.25);
			background-color: #000;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - rem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			span,
			&::before,
			&::after {
				background-color: $orange;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
		
	}
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(18);
		height: rem(15.75);
		cursor: pointer;
		z-index: 5;
		margin-right: 50px;

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2.25);
			background-color: #fff;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - rem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			span,
			&::before,
			&::after {
				background-color: $orange;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}